:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #000;
  --white: #fff;
  --gray: #e1e1e1;
  --rgba-black: rgba(0000,0000,000,.2);
  --blue: rgb(44, 133, 254);
}

html{
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  list-style: none;
}

.flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.item-center{
  align-items: center;
}

#root{
  display: grid;
  gap: 3rem;
  place-items: center;
  margin-bottom: 10rem;
}
